[2019-09-04 01:21] tmedani opened #20 "Release v3.0 - ROAST V3.0 (codename: Hell's Kitchen)"
Hi Andy,

Thanks again for this super work and this wonderful toolbox.

I have a question related to this new release, maybe I missed something somewhere, but could you please specify what are the 'targeting feature added'.
Or on another word what is the modifications and the new that we need to know in this version.

Thanks in advance
Kind regards
Takfarinas

[2019-09-04 12:31] andypotatohy commented on #20
A new function roast_target() was added for doing targeted TES. Please refer to the releasing notes for more info. https://github.com/andypotatohy/roast/blob/v3.0/releasingNotes.txt

Maybe also sign up for the user group at roast-users@googlegroups.com.

[2019-09-09 16:20] tmedani commented on #20
Super thank you!
I have just my emails and checked the discussions.

[2019-09-09 16:20] #20 closed

[2019-09-11 03:41] tmedani opened #21 "Matlab format for the NY head model"
Hi Andy,

I'm trying to upload the volume mesh (tetra) of the NY head model from the https://www.parralab.org/nyhead/
However, I did not find any Matlab function to read correctly the Abaqus (.INP) or the Comsol (.MPHTXT)  file.

**Do you have a Matlab data file with these data (node, elem, face, tissue) as iso2mesh format?**

Also, I checked the brainstorm file, it contains only the lead field ma

[2019-09-11 12:50] andypotatohy commented on #21
No. You can generate that by calling roast('nyhead') and then you'll get the iso2mesh format mesh.

On the nyhead webpage, the lead field was computed by Abaqus. The lead field was computed with current source placed on the scalp surface. Please refer to the NY head paper for details.

Also please post your questions on the roast users Google group. The guy who did the brainstorm version of NY hea

[2019-09-11 16:51] tmedani commented on #21
Super thank you.

I will post it on the Google group & re-check your paper.

Regards

[2019-09-11 16:51] #21 closed

[2020-09-09 20:36] tmedani opened #25 "Loading Roast Outputs to Brainstorm"
Hi @andypotatohy  & @MaxNentwich

Just to follow up on our previous discussions about loading the Roast data to Brainstorm.

I will try to summarize the main steps, please complete if I'm missing any points.

Completed
- Formatting the roast output data  to brainstorm data ==> Completed
- Removing the electrodes model from the head mesh ==> Completed
- Write the mesh to the brainstorm format ==> C

[2020-09-10 17:56] MaxNentwich commented on #25
Hi Takfarinas,

Thanks for this overview!
I have some progress on the items above:

- I edited the transformation of the roast LF according to you instructions (https://neuroimage.usc.edu/brainstorm/Tutorials/HeadModel?highlight=%28Gain%20matrix%29)
- I added zeros along the last dimension of the LF as a placeholder for the reference electrodes.

However the plot of the LF looks similar to what I

[2020-09-10 18:58] andypotatohy commented on #25
Hi Max,

I would check these items, as we discussed yesterday:
(1) electrode coordinates and order (*especially the order*) from ROAST may
not match Brainstorm;
(2) ROAST uses a different voltage reference than Brainstorm (this one I
have to read up to understand better about Brainstorm);
(3) different coordinate systems used by ROAST and Brainstorm;
(4) mesh nodes may not exactly match between RO

[2020-09-14 03:02] tmedani commented on #25
Hi @MaxNentwich ,
I'm reviewing this function and test it again.

@andypotatohy

I'm not sure that there is any difference at this level between Roast and Brainstorm,
we are just ordering the data output from Roast to the right format in order to read it with Brainstorm.
right now, Brainstorm is just used as a graphical interface to display the raw Roast Outputs

The errors are somewhere else :
-

[2020-09-14 07:48] tmedani commented on #25
hi all,

The first error that I think is that the order of the electrodes is not correct,
in the following figure,
the selected electrodes from the 3d location that I have extracted  (red and green) are in the frontal areas
 whereas the highlighted LF vectors from the LF Aall are in temporal areas.

![image](https://user-images.githubusercontent.com/37831900/93056938-fc91f900-f621-11ea-9ea1-6dfe83

[2020-09-14 14:09] andypotatohy commented on #25
Hi Takfarinas, you're right. I remember we discussed this before. The electrode order in the ROAST leadfield follows the file elec72.loc, which is a different order than the electrode order of 3D electrode coordinates, which follows capInfo.xls. This is due to historical reason when I developed ROAST. See this line https://github.com/andypotatohy/roast/blob/7cd31ff315a45b875d7dc85634243b4266db314b

[2020-09-14 15:00] tmedani commented on #25
thanks for the confirmation @andypotatohy
as you said it, this is "this is ugly",

@MaxNentwich could you reorder the 3d electrodes back as in the code pointed by Andy?

[2020-09-14 18:41] dnadin opened #26 "Error in cvx_bcompress_mex when using roast_target"
Hi @andypotatohy!

I'm getting the following error when using the roast_target command (running in Matlab R2018b on Mac OS 10.14.5):

[code]
I found that this may be an issue with compiling cvx_bcompress_mex (https://stackoverflow.com/questions/48458660/library-not-loaded-loader-path-libmex-dylib-in-matlab), so I recompiled it in the Matlab command window as follows:
`mex -compatibleArrayDims cvx_

[2020-09-15 13:47] andypotatohy commented on #26
Hi @dnadin

roast_target was not extensively tested on Mac system. Yes please download the updated version of CVX and try again.

[2020-09-17 00:31] tmedani commented on #25
Hi,

just quick update,

I think I found how the electrodes are sorted, but let me say that it was crazy to follow what is going on in the different electrodes ordering!

There is more than one reordering of the electrodes,  instead, to do it in a few minutes it takes me hours

![image](https://user-images.githubusercontent.com/37831900/93294301-faa17480-f79e-11ea-9b63-c999c400573f.png)

You need

[2020-09-17 00:32] tmedani commented on #25
@MaxNentwich  could you please try to reproduce these results in your side and confirm my results?

[2020-09-17 22:47] MaxNentwich commented on #25
Thanks Takfarinas! I will try to reproduce this and let you know

[2020-09-17 23:41] tmedani commented on #25
will be great, then we can move to the next step.

[2020-09-18 19:53] MaxNentwich commented on #25
Hi Takfarinas,
It looks like I am able to fix the leadfield with your reordering as well. Here is an example:

![leadfield_4](https://user-images.githubusercontent.com/45299266/93638970-3ff3bb00-f9c6-11ea-8957-e9fad9af0fc7.png)

However, there seem to be some cases where it doesn't look as clear. For example, when I pick electrodes on opposite hemispheres:

![leadfield_6](https://user-images.githu

[2020-09-19 22:01] tmedani commented on #25
@MaxNentwich  if in most case the LF is correct then it's ok,
I can't see from these figures the orientation of the vectors, it's possible that in some points there are errros.

ideally, if you specify the reference, then the vectors should point from the ref electrode to the target,
it's like the anode and the cathode, the vectors are the direction of the currents sampled at the cortex points.

i

[2020-09-20 00:59] tmedani commented on #25
hi Max,
attached an improved function to display the lead field

remove the precedent version from your brainstorm folder and replace it with this one
https://www.dropbox.com/s/bouxad8bcgbgm1d/view_leadfields.m?dl=0

you can find it in the
\brainstorm3\toolbox\gui

![image](https://user-images.githubusercontent.com/37831900/93691967-b1ed0280-faa1-11ea-8398-4a925131c7cf.png)

you can use B and L fr

[2020-09-20 15:01] andypotatohy commented on #25
Yes, you can call the function sliceshow() [here](https://github.com/andypotatohy/roast/blob/master/sliceshow.m)
It will show you the field vector in the 2D slice from the 3 orthogonal views.

[2020-09-21 21:56] MaxNentwich commented on #25
Hi Takfarinas and Andy,
Thanks for the functions to help with visualization!

With this I can now see that for all cases the orientation of the leadfield vectors looks reasonable:

Here, the example from last week:
![offset_leadfield_electrodes_3](https://user-images.githubusercontent.com/45299266/93825324-01166d00-fc33-11ea-90d7-4d5524147fa6.png)

However, the arrows point from the target to the

[2020-09-21 22:18] tmedani commented on #25
Hi

Thanks, @andypotatohy looking forward to testing it.

@MaxNentwich great that you were able to check all this.

Now it's clear, we have more than 98% pointing in the right direction, this is what is expected and it's a way to quickly check the results.

This is again weird!! This mean that the list of the electrodes are not all correctely aligned in the channel file.
is it the case for all the

[2020-09-22 00:52] andypotatohy commented on #25
In ROAST only electrode Iz is the reference. @MaxNentwich does this (point from red to green) happen to all the bipolar configurations?

@tmedani You're right about the weird size of the vectors. I know some of them are outliers from the FEM solver. This usually happen on boundaries and areas close to electrodes.

[2020-09-23 18:12] MaxNentwich commented on #25
It happens to a couple of different combinations. Others look fine. It's always close to the electrode though, never at a completely different location. I am wondering if this is about the exact location of the electrodes? Or can it be about which vertices from the mesh we select from the cortex? Maybe on the scalp the leadfield would match the electrode position?

[2020-09-23 18:13] MaxNentwich commented on #25
Yes, this is consistent with all bipolar configurations, also the ones including Iz.

[2020-09-23 19:06] tmedani commented on #25
thanks for checking,
I think the 3d view can be biased also, it's depend on which angle you see the figure.

a best verification is to plot the LF with the scalp surface,
and also yes, the Roast computation used an electrode model with a lot of node (1cm radius size?)
and we are observing only one point.

I think it's just related to stimulation current which is <0, is it true? I did not check wha

[2020-09-23 19:41] andypotatohy commented on #25
The stimulation current is 1mA. I think the definition of positive direction of current flow may be different in Brainstorm and ROAST. A classic issue in physics.

[2020-09-23 23:06] tmedani commented on #25
yes, I think this is not a big problem, we can just flip the value of the LF matrix,

[2020-09-23 23:13] tmedani commented on #25
Now, wee need to import the MRI,
and then set the fudicial points,
then rotate/reshape/rescale the LF to the BST coordinate system.

Once all this done, I will build a script that will do all his in one line.

Do you have Stefan Haufe GitHub ID?
he has already done similar process, his feedback  will be helpfull.

[2020-09-23 23:13] tmedani commented on #25
I will share with a first version of script that load and set the fiducial points asap.

[2020-09-23 23:36] stefanhaufe commented on #25
Hi @tmedani , sorry for my absence. I am following the discussion as closely as I can, but I was overloaded with other work this week. I will look into my old code on Friday. From memory, I thin that the lead fields Andy gave me back then were in native MRI space. So I applied the same transformation to the MRI data and the leadfield. For the Brainstorm branch of the pipeline, I used the SPM trans

[2020-09-24 01:47] tmedani commented on #25
hi @stefanhaufe great that you are here.

No urgency, even with our small available time we are progressing and I think we are too close.

In mean time I will try to make the sciprt that load the MRI and ask to set the scs coordinate system. Then we will have the matrix that transform from the native MRI space to the Brainstom space.

Then we will see what we can do.

A+

[2020-09-24 03:00] andypotatohy commented on #25
Thanks @tmedani. Let me know if you need any input from me. I can only get more time to look into details after I submit the grant on Oct 12.

[2020-09-26 22:17] stefanhaufe commented on #25
Hi @tmedani , I had a look at my old scripts from the NYHead paper. They are very messy and I used a lot of manual transformation which I found by through trial and error. The main reason for this is that I converted everything into a "native space" (I think RAS), which is not identical to the SCS space. Nowadays I would not do this anymore.

I wanted to suggest the following procedure for the con

[2020-09-27 18:04] andypotatohy commented on #25
Yes I can confirm that: (1)ROAST outputs mesh nodes in MRI voxel space; the script @tmedani and @MaxNentwich came up also outputs the elctrode positions; (2) There is no MRI for the New York head, but for individual head the original T1 MRI is available. If the original MRI is not in RAS, it's converted into RAS by ROAST. The lead field and mesh nodes are all in RAS orientation.

[2020-09-29 09:00] stefanhaufe commented on #25
Very good. For the New York head, we can use the known transformations MRI <-> MNI and MNI <-> SCS.

[2020-09-30 00:09] tmedani commented on #25
Hi all,

Sorry for the slow reaction,

I'm currently working on the script that does the points that @stefanhaufe exposed.
I have the idea of how to fulfilled the point from 1 to 3, however,
for point 4, I don't know how/what to do with the electrical field, do you want to load it to brainstorm?

Regarding point 5, we need to think about how to rotate and the eventually rescale of the LF vectors,

[2020-09-30 03:28] andypotatohy commented on #25
Can we just apply the same transform matrix that's used on the mesh nodes to the LF vectors?

[2020-09-30 06:49] tmedani commented on #25
Hi,

I was able to do a script that loads the MRI and the mesh to brainstorm and aligns all in the same coordinate system (scs).
It will be fully automated,
it will create the protocol, create a subject, load the data from roast.
The only requirement from the user is to specify the roast output folder with the MRI,  run it, and then specify the scs coordinates from the GUI.

here is a quick view o

[2020-09-30 07:32] stefanhaufe commented on #25
Hi @tmedani , great work, this looks awesome!

About point 4, it was a mistake, of course I did not mean the e-field for a particular problem but the nodes x channels x 3 leadfield. This needs to be properly transformed too. After which the resulting e-field will all automatically be in the right coordinate system.

I suggest to rearrange the leadfield as a nodes*channel x 3 matrix and transform a

[2020-09-30 08:28] andypotatohy commented on #25
I agree that no translation is needed for transform the LF.

Regarding the non-isotropic MRI, I want to mention that ROAST puts coordinates into unit of "mm" using the MRI resolutions stored in the header (see [this line](https://github.com/andypotatohy/roast/blob/7cd31ff315a45b875d7dc85634243b4266db314b/meshByIso2mesh.m#L67)). So the scaling factor is already applied for both the mesh nodes and t

[2020-09-30 11:59] MaxNentwich commented on #25
I definitely can test that! Can you please share your code with me once you have it ready?

[2020-10-01 06:41] tmedani commented on #25
Yes, I think also that the final mesh is in the real size, then I'm not sure that the anisotropic resolution will cause problems.

@MaxNentwich here is the script, in order to use you need to have brainstorm since it will use some of its functions.
You need also to change the extension from .txt to .m

[bst_roast_protocol.txt](https://github.com/andypotatohy/roast/files/5309860/bst_roast_protocol.

[2020-10-08 02:21] tmedani commented on #25
Hello all,

@MaxNentwich were you able to test the last script, any updates.

Let me know if you have any issues to reproduce it.

I'm trying to find a method to rotate the LF vectors, I will share the results asap.

A+

[2020-10-09 21:20] MaxNentwich commented on #25
Hi Takfarinas,
Sorry I was out of town for some time. I just checked the script you shared and there's a small issue when I run it.

There was an error when I was trying to plot the mesh in brainstorm after running your script. I think the issue is that there are no vertices in the tess_fem_roast_0V.mat file.

[tess_fem_roast_0V.zip](https://github.com/andypotatohy/roast/files/5357583/tess_fem_roa

[2020-10-09 23:10] tmedani commented on #25
Hi Max,

Thanks for your reply.

Yes you need to set the fiducials point of the MRI editor and then save them as explained in this page
https://neuroimage.usc.edu/brainstorm/Tutorials/ImportAnatomy#:~:text=this%20figure%3A%20CoordinateSystems-,Fiducial%20points,EEG%20sensors%20on%20the%20MRI.

I think this is the problem that causes all the other errors.

In the MRI that you shared there is no fid

[2020-10-10 14:05] #26 closed

[2020-10-11 01:24] MaxNentwich commented on #25
Thanks for your help! Defining the fiducials was the solution. I can now fully reproduce your alignment of the headmodel to the MRI:

![registered_mesh_mri](https://user-images.githubusercontent.com/45299266/95668206-b788b600-0b3e-11eb-93a2-3ff19d7d16c6.png)

Let me know if there is anything I can help with at the current step.

[2020-10-11 18:16] tmedani commented on #25
@MaxNentwich this is great that you are able to reproduce it and check it.

It will be nice if you can add the transformation of the electrodes and the cortex to this script,
and then load them automatically to the Brainstorm protocol as it's the case for the head model.

In meantime, I will work on the transformation of the LF and share it with you asap.

[2020-10-12 12:40] stefanhaufe commented on #25
Dear all,

please have a look at the attached slightly modified script (lines 61-83). The manual entering of fiducials can be completely avoided when running "Compute MNI transformation" process. The sole purpose of running this process is to obtain reasonable estimates for the fiducials automatically.

[bst_roast_protocol_SH.txt](https://github.com/andypotatohy/roast/files/5365144/bst_roast_proto

[2020-10-12 20:11] MaxNentwich commented on #25
Thanks Stefan for adding this modification!

@tmedani, I can work on adding the other parts to brainstorm. I wanted to ask, can this be done with the db_add() function for the channels and db_add_surface() for the cortex? I previously just replaced the mat files in the database manually.

[2020-10-12 21:42] tmedani commented on #25
Thanks @stefanhaufe,
I will check it asap.

@MaxNentwich yes, you can do it for the cortex with the db_add_surface
and it's also possible for the channel, with a similar function, I will check it also.

[2020-10-13 20:03] MaxNentwich commented on #25
Hi all,

I managed to add the cortex and channel file to the protocol. I used SCS.R and SCS.T from the converted sMri variable to convert them to match the headmodel. It looks close, but the alignment is a little off:

![cortex_alignment](https://user-images.githubusercontent.com/45299266/95910084-8215df80-0d6d-11eb-8661-c29efd6e3c10.png)

I would appreciate if you have any suggestions to improve

[2020-10-14 02:09] tmedani commented on #25
Hi Max,
looks good from this view and from my point of view,

Why do you think it's the alignment is off?

Could you remove from the display the outer tissues and keep only the GM and WM,
you should have perfect alignment.

Did you use Stefan's MNI code?

I will test all these scripts Thursday afternoon, I'm overwhelmed on another topic these days.

[2020-10-14 08:12] tmedani commented on #25
@MaxNentwich
I don't know if you found the function that imports the channel to the database,
I checked how to do it automatically, and I think we need to use the brainstorm function

**import_channel**

For that we need to passe the dataeither by one of its input files or by memory (we may need to hack this function),

For the first option, I think the CSV file is easy to export from Matlab, as i

[2020-10-14 19:43] MaxNentwich commented on #25
Hi Takfarinas,
You are right the alignment looks good! I thought is looked like it was shifted down, but that's not the case. plotted on the gray and white matter it looks all fine:
![alignment_cortex_fem](https://user-images.githubusercontent.com/45299266/96037272-9f14e600-0e33-11eb-8f76-416c44f4fda7.png)

I imported the channels with db_add(). I used the format of the structure you have created

[2020-10-14 22:00] tmedani commented on #25
Hi Max,

This looks great, I think it's correct.

Now, I assume that all this can be done automatically now just by running the script right?

It will create the protocol, create the subject, and then load and align the head mesh, cortex mesh, and the electrodes, right?

One first improvement is to change the name of the channel to the original names instead of ch_xx, you have just to get the orig

[2020-10-14 22:44] MaxNentwich commented on #25
Yes, everything is in one script and runs automatically. The part you and wrote and Stefan edited creates the subject and aligns the FEM mesh. I added the part to import and align the cortex and channels.
[bst_roast_protocol_MN.txt](https://github.com/andypotatohy/roast/files/5381228/bst_roast_protocol_MN.txt)

I can add the original channel labels.

Thanks for taking care of the LF matrix!

Can t

[2020-10-15 01:08] tmedani commented on #25
This is great,

Yes, if you can add it, it will be better

I don't have the right idea how to do it but I will try and share my results with you

Yes, we can resample the cortex either by brainstorm or by any other Matlab or iso2mesh function, but in both case we need  to identify the nearest LF values.

Indeed, the other option is to use SPM/CAT to extract the default cortex that Braisntorm uses

[2020-10-15 15:18] andypotatohy commented on #25
If you mean taking out the surface mesh from a volumetric mesh, Matlab has this nice function called "freeboundary()". Hope that can help.

[2020-10-16 21:06] MaxNentwich commented on #25
Hi all,
Below is a figure of the renamed electrodes:
![electrode_names](https://user-images.githubusercontent.com/45299266/96308608-b4277b80-0fd1-11eb-80b7-ad12649fab75.png)
Does this look right to you?

I will look into the resampling of the cortex and the "freeboundary()" function next week.

Best,
Max

[2020-10-16 22:51] tmedani commented on #25
Hi all,

@andypotatohy

Thanks for pointing to this function, it looks similar to the iso2mesh function "volface" and we have also an equivalent function in Brainstorm "tess_voledge".

What I meant before is to have  a set of the nodes (dipoles) in the middle of the cortical surface,
between the outer WM surface and the outer GM surface.

Then we can interpolate the LF on these points. From the fo

[2020-10-17 14:34] andypotatohy commented on #25
I see. I think once you have the boundary nodes using functions like "freeboundary()", then it's straightforward to get the inner nodes of gray matter to serve as the stable sources you prefer.

[2020-10-20 18:49] andypotatohy commented on #25
@tmedani Do you need the surface mesh of the intermediate surface inside the gray matter? or just the inner nodes? After a short zoom meeting with @MaxNentwich, I realized that ROAST already outputs the surface mesh of gray matter (so we don't have to use functiuons like freeboundary() to extract the surface). But it's tricky to get the intermediate surface inside gray matter. Getting the inner no

[2020-10-20 20:06] MaxNentwich commented on #25
As Andy said there are labels for the grey matter surface in the ROAST output. I think this includes the outer surface of the cortex, but also the boundary between grey and white matter. The outer surface looks exactly like the one that is extracted with the volface() function Takfarinas had suggested:
![grey_matter_from_roast](https://user-images.githubusercontent.com/45299266/96638459-222fb380-1

[2020-10-20 20:52] tmedani commented on #25
Hi Andy & Max,

Extracting the different surfaces is not a problem, but having the intermediate surface between the outer of the WM and the outer of the GM is not easy. The best method , to my knowledge, is to extract the pial surface by freesurfer or spm/cat which is in the middle between WM and GM and use it to interpolate the LF to these points.

I have tried other methods but they take hours o

[2020-10-20 21:42] andypotatohy commented on #25
Yes, I recommend we just forget about getting the intermediate surface for now, as it's too complicated.

Sorry to hear you lost your data by accident. Hopefully you have a backup? For rotating the LF, I just thought about it. Can we just apply the same mapping matrix that we used for transforming the node coordinates? The LF is just a bunch of 3D vectors, the same as the node coordinates mathemat

[2020-10-20 22:25] tmedani commented on #25
agree,

the good news is yes, I have a backup, the bad one is it's outdated by ~ 1 week,
I have almost restored the most important part.

Regarding the rotation, the format of the LF (in brainstorm) is [Nsensors x (Ndipolex3)],
the first idea is to transform/reshape this matrix to   [(NsenosrsxNdipole) x 3] then apply the linear transformation (same for head model and electrodes), and then come ba

[2020-10-20 22:45] stefanhaufe commented on #25
Hi all,

@tmedani, great to hear that you could recover your work.

Regarding the source space, I would love to see a solution where the lead field is interpolated to the mid surface from freesurfer (or any other surface that can be easily generated or added within Brainstorm). That would also make it easy to compare different leadfields and find the right transformation. But even for this solutio

[2020-10-21 02:03] andypotatohy commented on #25
Thanks @stefanhaufe for your suggestions regarding Freesurfer. I have some plans to interface with Freesurfer and put these into my NIH grant proposal. Hopefully it gets funded and then I can add these features.

For now I think we should focus on just basic conversion from ROAST to Brainstorm. For the LF transform, I don't think the shape of the matrix matters (it's just implementation details),

[2020-10-21 20:33] MaxNentwich commented on #25
@tmedani, [here](https://drive.google.com/file/d/17MLMIQh9A7yMTRJ1_YdoDl7B-peY5hFO/view?usp=sharing) is all the code and data I am currently using. Though regarding the leadfield, I have previously imported it manually into brainstorm (by copying the files into the database).

I will work on adding the leadfield to the database automatically and try applying the same transformation than to the FEM

[2020-10-22 17:51] MaxNentwich commented on #25
Hi all,

I managed to add the headmodel and leadfield to brainstorm through the protocol. The transformation of the leadfield using the sMri.SCS.R (without the translation) seems to work too.

This is the leadfield in the original coordinates for two example electrodes (I checked a few more and the transformation works for all):
![lf_original_fp1_p3](https://user-images.githubusercontent.com/45299

[2020-10-22 19:10] andypotatohy commented on #25
I remember @stefanhaufe used to have a very fancy code (that I never understand :-) ) to transform high-dimension matrix without doing loops.

[2020-10-22 23:36] tmedani commented on #25
Hi Max,

This looks great and correct, I think this is all that we need.

However, I do not understand why you show the next figure? do you want just to validate the results?

I think the database needs to be refreshed in order to load the newly stored data. we need just to find the function that is used when you reload the protocol. I will check that and come back to you.

If it's fast it's ok, s

[2020-10-22 23:42] tmedani commented on #25
Hi @stefanhaufe

Thanks :)

This is easily doable with brainstorm. Once we have all the roast data, we can generate the cortex with CAT from the mri, and interpolate the roast LF to this new surface.
Then compute new LF with brainstorm (BEM, FEM, ...) and then compare the two solutions.

A+

[2020-10-23 04:56] tmedani commented on #25
Hi all,

I have tested all the process and it's working fine.

To make more validation on the transformation, I have added the full head and the full LF to the Brainstom and then display the LF vectors, here is the view.

![image](https://user-images.githubusercontent.com/37831900/96957284-16d7b600-14af-11eb-8854-53ac1940943e.png)

It looks correct and then it confirms the transformation.

@MaxNen

[2020-10-23 14:48] andypotatohy commented on #25
This is great news! We finally have our prototype script work! Thanks @all for your hard work.

Yes I'll update on roast side to output the electrode coordinates.

[2020-10-23 17:53] MaxNentwich commented on #25
Yes, it was for validation to show what the transformation did.

@tmedani, thanks a lot for checking the transformation!

panel_protocols('UpdateTree') works for refreshing the study and the headmodel then shows up immediately.

I can start cleaning up the script a little. Let me know what needs to be done to make it feat within the brainstorm framework and I can help with that.

[2020-10-23 18:05] tmedani commented on #25
Hi And,

Yes!! finally, :)
Thanks to all

when it's done, could you tell us what is the name of the output file and its location.

[2020-10-23 18:49] tmedani commented on #25
Hi Max,

now we are sure

yes, it's useful :)

I'm already working on it, I will add some options that can simplify the interface to brainstorm.

In meantime, it will be great if you can work on any script that can interpolate the LF from the whole head to an any neighboring
surface.

Also, @andypotatohy , I have noticed that some LF (~5%) values are NAN, is it normal?

[2020-10-23 19:08] andypotatohy commented on #25
Should be normal. Where are those NaNs? Usually on the tissue boundary the solver is extrapolating but ended up with NaN.

[2020-10-23 22:12] stefanhaufe commented on #25
Hi @MaxNentwich , regarding your question about the loop, the simplest method is to use reshape:

[2020-10-23 22:15] stefanhaufe commented on #25
Hi @MaxNentwich , regarding your question about the loop, the simplest method is to use reshape:

si = size(roast_leadfield.A_cortex);
roast_leadfield.A_trans = reshape(reshape(roast_leadfield.A_cortex, si(1)*si(2), si(3))*sMri.SCS.R', si);

As @andypotatohy mentions I like to use a toolbox called tprod for such things. But it would be overkill to add that dependency here (it is C-based and need t

[2020-10-23 22:28] stefanhaufe commented on #25
Also @MaxNentwich , I ran your script but I am missing MNI152_T1_1mm_indInRoastCore.mat as well as the function read_elec_names .

My general question is: will this script work for arbitrary montages defined in ROAST?

This actually brings me to the second extension that I will propose. It would be great to have a mechanism to feed electrode positions from Brainstorm back to ROAST for the modeling

[2020-10-23 22:29] stefanhaufe commented on #25
@all, regarding the interpolation function, I am happy to help.

[2020-10-23 22:52] tmedani commented on #25
Hi all,

@stefanhaufe

These are the missing data that should be added to Roast as output.

I'm working on a full-function that will interface all to brainstorm with minimum inputs,
I will share it with and you can add this part since it will be an optional function.

I will also add an option to Brainstorm that can import all Roast outputs.

@stefanhaufe it was also one of the ideas that I have,

[2020-10-24 00:38] andypotatohy commented on #25
ROAST does have 10/10, BioSemi and EGI layouts, but now only supports 10/10 for lead field. Again the plan is to add other layouts for lead field, but I can't do it now until it's funded. Now I only have time to talk and check emails. I'll try to add the output for electrode positions and other needed variables during weekends.

Other plans all sound very exciting. So we do have a lot to collabora

[2020-10-26 17:18] tmedani commented on #25
Hi @all,

To avoid the multiple version between us and for an easy track of the modifications,
 I have created this repo,
https://github.com/tmedani/roast2brainstorm_interface/blob/main/Rost2Brainstorm.m

I have worked on a full version of the function that can interface the two tools,
it mainly based on the previous scripts.

[2020-10-26 17:39] tmedani commented on #25
@also,

There are part of the function with a "TODO"

This includes the 3d location of the electrodes and their order,
@andypotatohy will add this to roast and then we load the results from the outputs.

There is also to the naming of the output files, and their location, we need to add an automatic way to import all the roast outputs. We need to get this path from the roast Output.
@MaxNentwich c

[2020-10-28 17:46] MaxNentwich commented on #25
@stefanhaufe I hope with Takfarinas new script you are able to run it. Let me know if you are not.

@tmedani I am having some issues that are related to brainstorm itself it seems. The first thing is that I am not able to run the function unless brainstorm is already open. Otherwise, roast2brainstorm_defaults() will not be able to read the path to the database. Not sure if this is an issue with my

[2020-10-28 19:04] tmedani commented on #25
Hi Max,
indeed, you are right, in my testing Brainstorm was running.
and in order, we need to have Brainstorm running, either with our without the gui,
I delete by error the function that starts Brainstorm, I will add it, and let you know.

otherwise, is it working correctly when you have brainstorm running?

It will be great,

Agree, even me I can't put more effort into this project right now, mo

[2020-10-28 19:12] tmedani commented on #25
Here the change, I didn't test it, but I think it will work, we need just to start Brainstorm from this function.

https://github.com/tmedani/roast2brainstorm_interface/commit/a018d13fc4ea704bf960294baa7858022415e757

[2020-10-28 20:12] andypotatohy commented on #25
I think we're done for now, once the interface works to convert ROAST outputs to Brainstorm. We can leave everything else to future if ROAST gets funded. I'm happy to meet and discuss. I can do next Mon, Tue, Thr AM or Fri PM. Let me know your availablility. I can add Lucas to join. Thanks.

[2020-10-28 20:35] tmedani commented on #25
Great,
I can do it either Monday (am, pm), Tuesday (am), and Friday(am, pm).

[2020-10-28 20:58] MaxNentwich commented on #25
Tuesday and Friday would work for me, am or pm.

[2020-10-30 14:22] soeren-huebner opened #27 "Using only two different kinds of tissue (instead of six)."
Hello all :)

I'm currently writing my master thesis in computer science and for this reason I'm trying to use Roast with some rather specifc input. My input is a simple, generated MRI which only contains two different kinds of tissue: a "blob" made from bone in the middle and some air around it. The following image illustrates this case:

![image](https://user-images.githubusercontent.com/6842334

[2020-10-30 15:17] andypotatohy commented on #27
Hi @soeren-huebner, thanks for trying on your project, very interesting. Here's my advice:

1) I think you already have your segmentation of bone and air as shown in the 1st figure? So you do not need to run ROAST from very beginning, as ROAST uses SPM to segment, and SPM was designed to segment the complicated head geometry.
2) Electrode placement will totally fail for your problem, as it was des

[2021-01-07 23:31] tmedani opened #28 "electrodes inside the volume."
Hello @andypotatohy,

I hope you are doing well & happy new year.

I'm just wondering if it's possible to use roast with a scenario where both the stimulation electrode and the reference electrode are both inside the volume of the head (inside the mesh)?

Any recommendations, links?

Thank you in advance.

Best,
Takfarinas

[2021-01-07 23:51] #27 closed

[2021-01-07 23:54] andypotatohy commented on #28
Hi @tmedani ,

Happy new year! For your scenario, roast was not designed for that. But of course you can do it. You can specify any mesh node inside the mesh to be anode and cathode, but you have to tweak the code. It's just changing the boundary conditions.

Hope this helps.

[2021-01-08 00:01] tmedani commented on #28
Great, thanks for your quick answer,
so for the code changing is it related only on the Matlab side of Roats,
or also some change should be applied to the FEM solver?

[2021-01-08 00:30] andypotatohy commented on #28
It should be only the Matlab side, i.e., just the code in defining boundary condition in prepareForGetDP.m and generating the .pro file for getDP in solveByGetDP.m

[2021-01-08 18:23] tmedani commented on #28
Thanks,

I will check all that asap, and I will let you know.

Best,

[2021-01-08 18:23] #28 closed

[2021-01-21 01:35] tmedani opened #29 "Current flow density instead of electrical field on the volume"
Hi @andypotatohy,

Is it possible to display the current flow on the volume instead of the electrical field?
does Roast compute and save the current?

I guess it can possible to convert the electrical field to current by Ohm's law on the volume,
but I'm not sure if it's doable and how to manipulate the output data in order to do it correctly.

Thanks in advance for your reply.

Best,

[2021-01-21 03:50] andypotatohy commented on #29
Yes of course you can convert the E-field to current density by multiplying the conductivity values. It's straightforward for isotropic conductivity: you just need to multiply the volume of E-field by the conductivity volume. You will need to use the segmentation masks to assign the proper conductivity for each tissue.

Hope this answer your question.

[2021-01-21 04:25] tmedani commented on #29
Yes, this answer my questions, thanks,

furthermore, if I understand it well from your answer, we can also use the anisotropic tensors?
if we have the tensor for each voxel, instead of scaling the electric field vector by the iso conductivity,
we will multiply it by the tensor, right? then we can have the current distribution for an anisotropic volume?

Thanks again for your helpful answers.

best

[2021-01-21 16:24] andypotatohy commented on #29
Yes, you can multiply the anisotropic tensor. But the E-field is computed from assuming the conductivity values are isotropic, so I don't think by multiplying with anisotropic conductivity will give you accurate results. The anisotropic conductivity should be included in the solving process. I will add anisotropic modeling if ROAST is further funded.

[2021-01-21 23:36] tmedani commented on #29
Indeed, you are right, we need to check at some point the FEM linear system.
anyway, I'm more interested in the isotropic case right now.

We cross our fingers for your grant and looking forward to the new feature and further integrations for Roast.

Thanks again for your clear answers.

A+

[2021-01-21 23:36] #29 closed

[2021-01-26 08:37] tmedani opened #30 "Reference point/electrode for the TES simulation"
Hi Andy,

Which point is considered as the reference of the electrical potential in Roast,
and how it's defined during the process of solving the Laplace equation?

Also, how can we find the reference point on the final results?

In the following, I have a basic example, with anode and cathode on the top of the head,
How can I find the reference point for the potential?

![image](https://user-imag

[2021-01-26 20:16] andypotatohy commented on #30
I'm not sure / don't remember how getDP picks the reference for the voltage, but I re-referenced the voltages to the point that has the minimal voltage value, see this line https://github.com/andypotatohy/roast/blob/7cd31ff315a45b875d7dc85634243b4266db314b/postGetDP.m#L34

Hope this helps.

[2021-01-29 07:08] tmedani commented on #30
Thanks, Andy,
it makes sense to re-reference it to the lowest point, which I guess is the point where is the lowest current (the sink).

But I'm missing some point, maybe I'm wrong, why there is no zero voltage in the color bar?
we should have it, or no?

Thanks again.

[2021-01-29 15:27] andypotatohy commented on #30
The re-reference was done on the point cloud, but the figure you're looking at shows the voltage in the 3D volume, which is after interpolating the voltages from the point cloud, so maybe the sink is not exactly the same as in the point cloud. You can look up the exact location of the sink if you open the .pos file for the voltage and look for the minimal voltage there, which is the sink.

[2021-02-11 14:07] tmedani opened #31 "Output results visualisation with gmsh"
Hi Andy,

I'm just wondering if it's possible to use Gmsh to visualize the outputs of the solver?

Have you tried it before?

Thanks in advance.
Takfarinas

[2021-02-11 15:01] andypotatohy commented on #31
yes of course. Gmsh is part of a bigger ecosystem of onelab http://onelab.info/  So you can use that to visualize. The .pos format is also compatible with Gmsh, I believe.

Hope this helps.

[2021-02-11 19:22] tmedani commented on #31
Thanks, I will give it a try.

[2021-02-11 19:36] #31 closed

[2021-02-11 20:32] tmedani commented on #30
Hi Andy,

Just a quick comment, I changed the line

`C{2} = C{2} - min(C{2}); % re-reference the voltage
`
to

`C{2} = C{2} - mean(C{2}); % re-reference the voltage to the mean value
`
and the results look much better for interpretation, the zero line is clear in the image and the values are ~symetric.

![image](https://user-images.githubusercontent.com/37831900/107694774-9ce95980-6c64-11eb-844a-e

[2021-02-11 20:32] #30 closed

[2021-10-08 15:26] jescab01 opened #33 "Roast target: No nodes found near target."
Hi @andypotatohy,

I am working with Roast target after calculating leadfields. I have a group of 10 subjects. For two of them roast target sends the message: No nodes found near target. Please increase the value of 'targetRadius'. I have incremented that value in a range from plausible values to disproportionate large ones, but it still sends the same message. Do you have some ideas about what mi

[2021-11-30 16:31] jescab01 commented on #33
Solved by recomputing the Leadfield.

Thanks @andypotatohy !

[2021-11-30 16:31] #33 closed

[2021-11-30 17:01] jescab01 opened #34 "Optimize the orthogonal component to surface"
Dear @andypotatohy,

Is there a way to use ROAST to optimize the orthogonal component to the cortical surface of the electric field vector instead of maximizing the focality or the electric field magnitude?

Thanks in advance,

[2021-12-01 03:42] andypotatohy commented on #34
If you know the direction vector of the orthogonal component, you can enter that as customized orientation when calling roast_target(). See this example https://github.com/andypotatohy/roast#example-29

[2022-03-11 00:29] djmountainman opened #35 "Node not found and output .pos files all have NaN"
Dear @andypotatohy,

First, thank you for the open source code. I look forward to using it!

Ran the code twice once without the zeropadding and the most recent one with it. I used my own T2. Please see below:

roast('insert\generic\path\name\here/WIPSAG_T1W_3D_2.nii',{'C3',2,'Fp2',-2},'zeropadding',60,'electype','pad','elecsize',[50 50 3])

At the end of processing (Step 5) I got a wall of text t

[2022-03-12 16:06] andypotatohy commented on #35
Hi, this is a recurring issue. Please search the ROAST mailing list. For example, https://groups.google.com/g/roast-users/c/2JfUpyLLNQE/m/wkA-95dfBAAJ

[2022-03-12 22:50] djmountainman commented on #35
Thanks for the replay. Changing the mesh options made it work!

 "Increase of meshOpt.distbound from 0.3 (default) to 0.5 solved the problem"

[2022-03-12 22:50] #35 closed

[2022-05-14 11:30] StephenHogg opened #36 "Extra tissue type"
Hi @andypotatohy ,

Thanks for making ROAST - I'm doing some work at the moment that involves the calculation of E fields but I have an extra tissue type I'm interested in. If I know the conductivity and can add it on to a segmented voxel field, is it possible to include it in the calculation of the E field? If so, how would this be done?

Regards,

Stephen

[2022-05-14 15:18] andypotatohy commented on #36
Yes it's possible, but you have to change a lot of code, as now it's hard coded to be 6 tissue types (plus electrodes and gel). You will need to change functions related to meshing and solving. I wish I had time to write developer documentation so that it can help you better.

[2022-05-15 05:23] #36 closed